<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
   </startup>

   <appSettings>
      <!--Fill in these values -->
      <add key="SourceAzureTenantName" value="" />
      <add key="SourceApiClientIdKey" value="" />
      <add key="SourceApiSecretKey" value="" />
      <add key="SourceMediaServicesApiUrl" value="" />

      <add key="SourceStorageAccountName" value ="" />
      <add key="SourceStorageAccountKey" value="" />

      <add key="DestinationAzureTenantName" value="" />
      <add key="DestinationApiClientIdKey" value="" />
      <add key="DestinationApiSecretKey" value="" />
      <add key="DestinationMediaServicesApiUrl" value="" />

      <add key="DestinationStorageAccountName" value ="" />
      <add key="DestinationStorageAccountKey" value="" />
   </appSettings>

</configuration>